<div>
  <table class="tableLayout">
      <colgroup>
          <col class="colA" />
          <col class="colB" />
          <col class="colC" />
      </colgroup>
      <tr>
          <td></td>
          <td class="title" colspan="2">Personal Loan TopUp or Apply</td>
      </tr>
      <tr>
          <td></td>
          <td>
              <div style="float:left;width:60%;">To apply for a TopUp of an existing loan amont, please select the loan below, make not of the Carry-over
                  amount before proceeding.</div>
              <div style="float:left;width:30%;text-align:right;">Carryover/Payout Amount</div>
              <div style="float:left;width:10%;text-align:right;" class="bold">{{totalCarryoverAmount | currency : 'USD' : 'symbol' : '1.0' }}</div>
          </td>
          <td>
              <button>Apply for Increased Loan Amounts</button>
          </td>
      </tr>
      <tr>
          <td colspan="2"></td>
          <td>
              <button [disabled]='personalLoan.length >=3'>Apply for new Personal Loan</button>
          </td>
      </tr>
      <tr>
          <td></td>
          <td class="message">You have {{personalLoan.length}} Personal Loans</td>
          <td>
              <div *ngIf='personalLoan.length >=3' class="warning">
                  With 3 or more current Personal Loans, a new Loan application is not possible in this flow.
              </div>
          </td>
      </tr>
      <tr>
          <td></td>
          <td>
              <table *ngFor='let loan of personalLoan; let i=index;' class="table">
                  <colgroup>
                      <col class="col1" />
                      <col class="col2" />
                      <col class="col3" />
                  </colgroup>
                  <tr class="firstRow">
                      <td colspan="3">{{i+1}}. {{loan.accountName}} # {{loan.accountNo}}</td>
                  </tr>
                  <tr class="secondRow">
                      <td>Balance</td>
                      <td>{{loan.balance | currency : 'USD' : 'symbol' : '1.0' }}</td>
                      <td>
                          <input type="checkbox" [checked]="loan.isSelected" (change)="toggleDetails(loan.accountNo)">Top Up</td>
                  </tr>
                  <tr *ngIf='loan.isSelected'>
                      <td>Balance includes Interest of</td>
                      <td>{{loan.interest | currency : 'USD' : 'symbol' : '1.0' }}</td>
                      <td></td>
                  </tr>
                  <tr *ngIf='loan.isSelected'>
                      <td>Early repayment fee</td>
                      <td>{{loan.earlyPaymentFee | currency : 'USD' : 'symbol' : '1.0' }}</td>
                      <td></td>
                  </tr>
                  <tr *ngIf='loan.isSelected' class="lastRow">
                      <td>Payout/Carryover amount</td>
                      <td class="bold">{{loan.carryover | currency : 'USD' : 'symbol' : '1.0' }}</td>
                      <td>This amount will be carried over</td>
                  </tr>
              </table>
              <div *ngIf='errorMessage' class="error">
                  Error: {{errorMessage}}
              </div>
          </td>
          <td></td>
      </tr>
  </table>
</div>